<figure>

    <div class="vertical-bar-chart-main">

        <svg width="97%" height="97%" viewBox="0 0 480 420">
            <rect width="100%" height="100%" fill="white" />

            <style>
                .small {
                    font: bold 12px sans-serif;
                }

                .normal {
                    font: 12px sans-serif;
                }
            </style>

            <title>BarChart</title>
            <desc>BarChart</desc>
            <path d="M 0 320 L 450 320
M 20 320 L 20 0"
                  fill="red" stroke="gray" stroke-width="0.3" />

            <path d="M 25 300 L 450 300"
                  fill="none" stroke="gray" stroke-width="0.3" />

            <path d="M 25 250 L 450 250"
                  fill="none" stroke="gray" stroke-width="0.3" />

            <path d="M 25 200 L 450 200"
                  fill="none" stroke="gray" stroke-width="0.3" />

            <path d="M 25 150 L 450 150"
                  fill="none" stroke="gray" stroke-width="0.3" />

            <path d="M 25 100 L 450 100"
                  fill="none" stroke="gray" stroke-width="0.3" />

            <path d="M 25 50 L 450 50"
                  fill="none" stroke="gray" stroke-width="0.3" />


            <path d="M 30 250 L 30 320 L 40 320 L 40 250 z"
                  fill="#27A844" stroke="#27A844" stroke-width="1" />

            <path d="M 130 120 L 130 320 L 140 320 L 140 120 z"
                  fill="#27A844" stroke="#27A844" stroke-width="1" />


            <path d="M 230 150 L 230 320 L 240 320 L 240 150 z"
                  fill="#27A844" stroke="#27A844" stroke-width="1" />

            <path d="M 330 80 L 330 320 L 340 320 L 340 80 z"
                  fill="#27A844" stroke="#27A844" stroke-width="1" />

            <path d="M 430 200 L 430 320 L 440 320 L 440 200 z"
                  fill="#27A844" stroke="#27A844" stroke-width="1" />


            <path d="M 45 230 L 45 320 L 55 320 L 55 230 z"
                  fill="#ce4b99" stroke="#ce4b99" stroke-width="1" />

            <path d="M 145 170 L 145 320 L 155 320 L 155 170 z"
                  fill="#ce4b99" stroke="#ce4b99" stroke-width="1" />

            <path d="M 245 120 L 245 320 L 255 320 L 255 120 z"
                  fill="#ce4b99" stroke="#ce4b99" stroke-width="1" />

            <path d="M 345 100 L 345 320 L 355 320 L 355 100 z"
                  fill="#ce4b99" stroke="#ce4b99" stroke-width="1" />

            <path d="M 445 130 L 445 320 L 455 320 L 455 130 z"
                  fill="#ce4b99" stroke="#ce4b99" stroke-width="1" />


            <text class="normal" x="30" y="25" fill="Black">Male</text>
            <text class="normal" x="30" y="45" fill="Black">Female</text>


            <path d="M 95 15 L 105 15 L 105 25 L 95 25 z" fill="#27A844" stroke="#27A844" stroke-width="1" />
            <path d="M 95 35 L 105 35 L 105 45 L 95 45 z" fill="#ce4b99" stroke="#ce4b99" stroke-width="2.5" />



            <text class="small" x="30" y="335" fill="Black">Jan</text>
            <text class="small" x="130" y="335" fill="Black">Feb</text>
            <text class="small" x="230" y="335" fill="Black">Mar</text>
            <text class="small" x="330" y="335" fill="Black">Apr</text>
            <text class="small" x="430" y="335" fill="Black">May</text>

            <text class="small" x="0" y="300" fill="Black">10</text>
            <text class="small" x="0" y="250" fill="Black">20</text>
            <text class="small" x="0" y="200" fill="Black">30</text>
            <text class="small" x="0" y="150" fill="Black">40</text>
            <text class="small" x="0" y="100" fill="Black">50</text>
            <text class="small" x="0" y="50" fill="Black">60</text>


        </svg>
    </div>



</figure>

@functions{
}