
.horizontal-bar-chart{
}

    .horizontal-bar-chart div {
    }

    .horizontal-bar-chart div svg{
    }

    .horizontal-bar-chart div svg .background-rect{
        width:100%;
        height:100%;
        fill:white;
        stroke:lightgray;
        stroke-width:0.5;            
    }

    .horizontal-bar-chart div svg .horizontal-grid-lines{
        fill:none;
        stroke:gray;
        stroke-width:0.2;
    }

    .horizontal-bar-chart div svg .y-axis-labels{
        font-size:4px;
        text-anchor:end;
    }

    .horizontal-bar-chart div svg .vertical-grid-lines{        
        fill:none;
        stroke:gray;
        stroke-width:0.2;
    }

    .horizontal-bar-chart div svg .x-axis-labels{
        font-size:4px;
        text-anchor:middle;
    }



    .horizontal-bar-chart div svg .bar{
        fill:#ce4b99;
    }
    

