/*
    This file is to show how CSS and other static resources (such as images) can be
    used from a library project/package.
*/

.my-component {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}


* {
    box-sizing: border-box;
}

@media (min-width: 768px) {
    figure {
        flex-direction: row;
    }
}

figure {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: -15px;
    margin-right: -15px;
}

.doughnut-main,
.doughnut-key {
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
    align-self: flex-start;
}

    .doughnut-main svg {
        height: auto;
    }

    .doughnut-text {
        fill: #000;
        transform: translateY(0.25em);
    }
    
    .doughnut-number {
        font-size: 0.5em;
        line-height: 1;
        text-anchor: middle;
        transform: translateY(-0.25em);
    }
    
    .doughnut-label {
        font-size: 0.2em;
        text-transform: uppercase;
        text-anchor: middle;
        transform: translateY(0.3em);
    }
    


    .doughnut-key [class*="round-"] {
        margin-right: 10px;
    }

.doughnut-key-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .doughnut-key-list li {
        margin: 0 0 8px;
        padding: 0;
    }

.round-dot {
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

