
<figure>

    <div class="doughnut-main">

        <svg width="100%" height="100%" viewBox="0 0 42 42">
            <circle class="hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
            <circle class="ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#d2d3d4" stroke-width="3"></circle>

            <circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#ce4b99" stroke-width="5" stroke-dasharray="40 60" stroke-dashoffset="25">
                <title>App Store</title>
                <desc>40% (40 out of 100)</desc>
            </circle>

            <circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#27A844" stroke-width="5" stroke-dasharray="20 80" stroke-dashoffset="85">
                <title>Website</title>
                <desc>20% (20 out of 100)</desc>
            </circle>
            <circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#377bbc" stroke-width="5" stroke-dasharray="40 60" stroke-dashoffset="65">
                <title>Partners</title>
                <desc>40% (40 out of 100)</desc>
            </circle>

            <g class="doughnut-text">
                <text x="50%" y="50%" class="doughnut-number">
                    100
                </text>
                <text x="50%" y="50%" class="doughnut-label">
                    Sales
                </text>
            </g>
        </svg>

    </div>

    <figcaption class="doughnut-key">

        <ul class="doughnut-key-list" aria-hidden="true">
            <li>
                <span class="round-dot dot-red"></span> App Store (40)
            </li>
            <li>
                <span class="round-dot dot-green"></span> Website (20)
            </li>
            <li>
                <span class="round-dot dot-blue"></span> Partners (40)

            </li>
        </ul>

    </figcaption>

</figure>

@functions{

}